.AppUserContent {
  min-height: 100vh;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center
}

.AppUserContent__messages {
  height: 500px;
  overflow-x: auto;
}

.AppUserContent__messages__message {
  border: #333333 1px solid;
  background-color: #1d1d1d;
}

.AppUserContent__header h1 {
  font-weight: 700;
}

.AppUserContent__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.user-link-container {
  width: 320px;
  background-color: #1d1d1d;
}
