.AppPasswordResetContent {
  min-height: 100vh;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.reset-pass-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reset-pass-form-container form {
  width: 50%;
}

.reset-pass-inputs input {
  width: 80%;
  height: 50px;
  border-radius: 50px;  
  padding: 0 10px;
  font-size: 16px;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  background-color: #1d1d1d !important;
  color: #fff !important;
  text-indent: 15px;
}

.btn-alert-email {
  width: 80%;
}

.alert-reset-email {
  width: 80% !important;
}

.form-group .btn-reset-pass {
  width: 80% !important;
}

.reset-pass-inputs #one_time_pass {
  width: 80%;
  height: 50px;
  border-radius: 50px;  
  padding: 0 10px;
  font-size: 16px;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  background-color: #1d1d1d !important;
  color: #fff !important;
  text-align: center;
  letter-spacing: 5px;
}
.reset-pass-inputs #one_time_pass::placeholder {
  color: #9e9e9e !important;
  font-size: 25px;
  letter-spacing: 5px;
  /* center input value */
  
}

.form-group .btn-send-otp {
  width: 80% !important;
}

.reset-pass-inputs input::placeholder {
  color: #9e9e9e !important;
}