.AppLoginContent {
  min-height: 100vh;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form-container form {
  width: 50%;
}

.login-inputs input {
  width: 75%;
  height: 50px;
  border-radius: 50px;  
  padding: 0 10px;
  font-size: 16px;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  background-color: #1d1d1d !important;
  color: #fff !important;
  text-indent: 15px;
}

.login-inputs input::placeholder {
  color: #fff !important;
  text-indent: 15px;
}
