.AppHeader {
  /* background-color: black; */
  padding: 10px;
}

.btn-login {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.btn-sign-up {
  outline: none !important;

  box-shadow: none !important;
}