.AppHeader {
  /* background-color: black; */
  padding: 10px;
}

.btn-login {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.btn-sign-up {
  outline: none !important;

  box-shadow: none !important;
}

.modal-header button{
  outline: none !important;
  box-shadow: none !important;
  background-color: #d6d6d6;
}

.modal-content {
  color: #fff !important;
  height: 300px;
  border: #313131 1px solid !important;
  background-color: #1d1d1d !important;
}

.star-rating button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.on {
  color: rgb(255, 64, 64);
}
.off {
  color: #ccc;
}